[submodule "cpp_foundations/route_planning_project/CppND-Route-Planning-Project"]
	path = cpp_foundations/route_planning_project/CppND-Route-Planning-Project
	url = git@github.com:golfffbum/CppND-Route-Planning-Project.git
[submodule "cpp_foundations/route_planning_project/P0267_RefImpl"]
	path = cpp_foundations/route_planning_project/P0267_RefImpl
	url = https://github.com/cpp-io2d/P0267_RefImpl.git
[submodule "oop/project_system_monitor/CppND-System-Monitor"]
	path = oop/project_system_monitor/CppND-System-Monitor
	url = git@github.com:golfffbum/CppND-System-Monitor.git
[submodule "memory_management/CppND-Memory-Management-Chatbot"]
	path = memory_management/CppND-Memory-Management-Chatbot
	url = https://github.com/golfffbum/CppND-Memory-Management-Chatbot.git
[submodule "concurrency/CppND-Program-a-Concurrent-Traffic-Simulation"]
	path = concurrency/CppND-Program-a-Concurrent-Traffic-Simulation
	url = git@github.com:golfffbum/CppND-Program-a-Concurrent-Traffic-Simulation.git
